header#header 
    h2#site-name 
        a(href="/") AstroPod
    nav#main-nav
        li
            a(href='/') Home
        li
            a(href='/mars') Mars
        li
            a(href='/asteroids') Asteroids
        li
            a(href='/podcasts') Podcasts