header#header 
    h1#site-name 
        a(href="/") AstroPod
    nav#main-nav
        ul
            li
                a(href='/') Home
            li
                a(href='/mars') Mars
            li
                a(href='/asteroids') Asteroids
            li
                a(href='/podcasts') Podcasts